{% spaceless %}
<div id="article_metaData___name__" class="row">
    <div class="form-group col-xs-3">
        <input type="text" id="article_metaData___name___key" name="article[metaData][__name__][key]" required="required" class="form-control form-control--lg margin--halfb" placeholder="Enter name of the meta tag" />
    </div>
    <div class="form-group col-xs-8">
        <textarea id="article_metaData___name___value" name="article[metaData][__name__][value]" required="required" class="form-control form-control--lg margin--halfb" rows="2" placeholder="Enter value of the meta tag"></textarea>
    </div>
    <div class="form-group col-xs-1">
        <a href="#" class="margin--doublet margin--doubleb js-remove-prototype"><i class="fa fa-trash"></i> Remove</a>
    </div>
</div>
{% endspaceless %}
