{% media media, 'small' with {'class': 'media-object js-media-object', 'alt' : 'EdBlog' } %}
<a href="#" class="js-media-object-remove toggle--remove hastooltip" data-href={{ path('ed_blog_admin_media_delete', { 'id' : media.id }) }} title="" data-placement="bottom" data-original-title="Delete"><i class="fa fa-times"></i></a>
