{% for flashMessage in app.session.flashbag.get('success') %}
<div class="container js-notice js-controller">
  <div class="flash-notice flash-notice--success">
    <i class="pull-right icon-x" onclick="$('.flash-notice').css('display', 'none')"></i>
    <div class="message-holder">
      {{ flashMessage }}
    </div>
  </div>
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('error') %}
<div class="container js-notice js-controller">
  <div class="flash-notice flash-notice--error">
    <i class="pull-right icon-x" onclick="$('.flash-notice').css('display', 'none')"></i>
    <div class="message-holder">
      {{ flashMessage }}
    </div>
  </div>
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('info') %}
<div class="container js-notice js-controller">
  <div class="flash-notice flash-notice--info">
    <i class="pull-right icon-x" onclick="$('.flash-notice').css('display', 'none')"></i>
    <div class="message-holder">
      {{ flashMessage }}
    </div>
  </div>
</div>
{% endfor %}
</div>

<!-- for js flash  -->
<div class="container js-notice hidden">
  <div class="flash-notice">
    <i class="pull-right icon-x" onclick="$('.flash-notice').css('display', 'none')"></i>
    <div class="message-holder">

    </div>
  </div>
</div>