<div class="row margin--t">
	<div class="col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
	    <a href="{{ path('ed_blog_redirect_authenticate', {'section': 'edcomment_comment'}) }}">Login</a> to leave a comment.
	</div>
</div>