{% form_theme form '@EDBlog/Global/forms.html.twig' %}
<form method="post" class="js-crop-info-form" action="{{ path('ed_blog_admin_media_edit', { 'id': media.id }) }}" >
    {{ form_widget(form) }}
</form>