<form class="ajax_media_form" method="post" action="{{ path('ed_blog_admin_media_edit_info', {'id': id}) }}">
    {{ form_widget(form.description,{ 'id': 'media_info_description_'~id  }) }}
    {{ form_rest(form) }}
</form>