// Links
//  --------------
a {
    @include transition(0.1s);
    text-decoration: none;
    color: $blog-blue;
}
a {
    &:hover,
    &:active {
        color: #000;
        text-decoration: none;
    }
    &:focus {outline: 0;}
}
a:hover,
a:focus {
    color: #000;
    text-decoration: none;
}
a:focus {
    outline: 0;
    outline: none;
}