//  Positions
//  ======================================================// 

.por {position: relative !important;}
.poa {position: absolute !important;}
.poa--t20 {top: 20px;}
.poa--r20 {right: 20px;}

// clicky
.clicky {position: relative !important; top: 1px !important;}

// abs-aligned
.abs-aligned {@include abs-aligned;}

// overlay
.overlay {
  position : absolute;
  top      : 0;
  left     : 0;
  bottom   : 0;
  right    : 0;
  width    : 100%;
  height   : 100%;
}
