<div class="dashboard-content">
    <div class="b-upload js-add-media js-trigger-upload-medias">
        <div class="tabled">
            <div class="table-cell center">
                <i class="fa fa-camera text--kilo d--ib margin--r"></i>
                <div class="wording d--ib">
                    <div class="text--bold ">Upload photos from computer</div>
                    <div class="text--milli ">File formats allowed: png, jpg, gif</div>
                </div>
            </div>
        </div>
    </div>
    {% include "EDBlogBundle:Article/Media:listAjax.html.twig"%}
</div>


